@import 'bootstrap';
@import 'fonts';
@import 'tooltips';

body {
  background: #ADD8E6;
}

* {
  line-height: inherit;
}

input[type="text"] {
  appearance: none;
  border: none;
  outline: none;
  border-bottom: 1px solid gold;
  background: inherit;
  color: inherit;
  margin-bottom: -2px;
}
